<div class="wrapper">
  <h2 class="heading">ようこそBookersへ！</h2>
  <div class="top-wrapper">
    <p class="top-text"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や
    <br>印象を共有し交換することができます</p>
    <%= link_to "start", books_path %>
  </div>  
</div>