/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 共通 */
* {
  box-sizing: border-box;
  pading: 0;
  margin: 0;
  font-size: 14px;
}
.wrapper {
  padding: 30px;
}

/* 見出し */
.heading {
  padding-bottom: 20px;
  font-size: 25px;
}

/* リンクボタン */
.link {
  display : inline;
}
a:hover {
  background-color: black;
  color: white;
}

/* top */
.top-wrapper {
  padding: 0 30px;
}
.top-text {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 3;
}

 /* 入力フォーム関連 */
 input[type="submit"] {
  margin-top: 14px;
  margin-bottom: 14px;
  display: block;
}
.form-body {
  padding-top: 15px;
}
.btn {
  display: flex;
}
.between {
  padding: 0 10px;
}

/* index */
th {
  padding: 3px;
}
td {
  padding: 2px 10px;
  color: #626262;
}
.new-heading {
  padding: 20px 0 10px;
  font-size: 20px;
}
.error-wrapper {
    border: 1px solid red;
    margin-bottom: 20px;
}
.errors {
  background-color: #bb171a;
  color: white;
  padding: 3px 10px;
}
ul {
  background-color: #eaeaea;
  padding: 30px;
}

/* show */
.msg {
  color: green;
  padding: 0 30px 30px;
}
.show-table {
  display: flex;
  padding: 0 30px 30px;
}
.show-table p {
  padding-right: 10px;
}


